/*******************************************************************
************************* GLOBAL ***********************************
********************************************************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  font-size: 1.8rem;
}

/*******************************************************************
************************* HEADINGS *********************************
********************************************************************/

.heading-primary,
.heading-secondary {
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.heading-primary {
  font-size: 5.2rem;
}

.heading-primary--white {
  color: #fff;
}

.heading-secondary {
  font-size: 4.4rem;
}

.heading-secondary--grey {
  color: #333;
}

/*******************************************************************
************************* TEXT *************************************
********************************************************************/

.text-description {
  line-height: 1.8;
}

/*******************************************************************
************************* LAYOUT ***********************************
********************************************************************/

/* HEADER */

.header {
  height: 65vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(../assets/img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  padding-left: 12.8rem;
}

.header__tagline {
  font-size: 3rem;
  color: #004d7b;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.header__social-media {
  list-style: none;
  display: flex;
}

.header__social-media li:not(:last-child) {
  margin-right: 2.4rem;
}

.header__link:link,
.header__link:visited {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
  font-size: 3rem;
}

.header__link:hover {
  font-size: 3.6rem;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0.8rem 1.6rem 0 1.6rem;
}

.navbar__logo img {
  height: 6rem;
}

.navbar__main ul {
  list-style: none;
  display: flex;
}

.navbar__main ul li:not(:last-child) {
  margin-right: 3.2rem;
}

.navbar__link:link,
.navbar__link:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #eee;
  padding-bottom: 1.2rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}

.navbar__link:hover {
  border-bottom: 2px solid #004d7b;
}

/* FOOTER */

.footer {
  border-top: 1px solid;
  padding: 2.4rem 0;
}

.footer__info {
  font-size: 1.4rem;
  line-height: 1.6;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: #888;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #555;
}

/* CONTAINER */

.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* GRID */

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 8rem;
}

.grid__col--3 {
  grid-template-columns: repeat(3, 1fr);
}

/*******************************************************************
************************* UTILITIES ********************************
********************************************************************/

.margin-bottom--small {
  margin-bottom: 1.6rem !important;
}

.margin-bottom--large {
  margin-bottom: 6.4rem !important;
}
