/*******************************************************************
************************* Bellow (<=) 1400px ***********************
********************************************************************/

@media (max-width: 87.5em) {
  /* GENERAL */

  .header__text-box {
    padding-left: 4.8rem;
  }
}

/*******************************************************************
************************* Bellow (<=) 1200px ***********************
********************************************************************/

@media (max-width: 75em) {
  /* GENERAL */

  html {
    font-size: 56.25%; /* 1rem = 9px */
  }

  .header__text-box {
    padding-left: 2.4rem;
  }
}

/*******************************************************************
************************* Bellow (<=) 950px ************************
********************************************************************/

@media (max-width: 59.375em) {
  /* GENERAL */

  .grid {
    column-gap: 8rem;
  }

  .grid__col--3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
